body{
  background:linear-gradient(rgba(84, 86, 176), rgba(84, 86, 176,0.5));

}

#title{
  color:rgb(0, 4, 255);
}
.subtitle{
  color:#5456f0;
}
/* bakgrd REPEAT */
/* BAKGRD SIZE*/
#service-image{
  height:400px;
  width:80%;

  background-repeat: no-repeat;
  background-size: cover;
  background-size: 500px 100px;
  /*background:linear-gradient(to top right, red,blue);
  background:linear-gradient(to top right, red,blue,black,yellow);
  background:linear-gradient(to top right,rgb(77, 200, 214),rgba(77, 200, 214,1));
  background:linear-gradient(to top right,rgb(77, 200, 214),rgb(245, 15, 53),rgb(227, 14, 223),rgba(227, 14, 223,0));*/
  background:radial-gradient(rgb(77, 200, 214),rgb(245, 15, 53),rgb(227, 14, 223),rgba(227, 14, 223,0));
}
