body{
  background:linear-gradient(rgba(235, 229, 52), rgba(84, 86, 176,0.5));
  /* relative UNITS THEY CHANGE ACCORDNING TO DEVICE  */
  /*font-size: 2em;
  /*font-size: 2vh;
  font-size: 2%;*/
  /* ABSOLUTE UNITS THEY ARE FIXED*/
  /*font-size: 2cm;
  font-size: 2mm;
  font-size: 20px;
  font-size: 20pt;
  font-size: 20pc;*/
  /* JUSTIFICATION*/
  /*text-align: center;
  text-align: left;
  text-align: right;*/
  text-align: justify;
  font-size: 1.25em;
  font-weight: 200;
  font-style: italic;
  /*font-family: "Times new roman",sans-serif;*/
  font-family: "Open Sans", sans-serif;

}

.title{
  color:rgb(0, 4, 255);
  font-family: "Sansita Swashed",monospace;
}
.subtitle{
  color:#5456f0;
}
/* TEXT DECORATION*/
.link{
  text-decoration: none;
  text-decoration: line-through;
  text-decoration: overline;

  /* TEXT TRANSFORM*/
  text-transform: capitalize;
  text-transform: lowercase;
  text-transform: uppercase;
}
/* bakgrd REPEAT */
/* BAKGRD SIZE*/
#service-image{
  height:400px;
  width:80%;

  background-repeat: no-repeat;
  background-size: cover;
  background-size: 500px 100px;
  /*background:linear-gradient(to top right, red,blue);
  background:linear-gradient(to top right, red,blue,black,yellow);
  background:linear-gradient(to top right,rgb(77, 200, 214),rgba(77, 200, 214,1));
  background:linear-gradient(to top right,rgb(77, 200, 214),rgb(245, 15, 53),rgb(227, 14, 223),rgba(227, 14, 223,0));*/
  background:radial-gradient(rgb(77, 200, 214),rgb(245, 15, 53),rgb(227, 14, 223),rgba(227, 14, 223,0));

  border: 10px dotted red;
  /* PADDING MARGOIN DOESNT WOKR PROPERLY ON RADIAL*/
  /*padding-left: 100px;
  padding-right: 100px;*/
}

#about-us-image{
  height:400px;
  width:70%;
  /* CSS BORDERS*/
  border: 10px dotted red;
  /*padding-left: 100px;
  padding-right: 100px;*/
  /* ONLY MOVEMENT PADDING MARGIN*/
  padding: 100px 100px 50px 50px;
  /*margin: 100px 50px 100px 50px;*/
  /* FLOAT */
 /*sfloat: right;*/
  /*display:none;*/
  display: inline-block;

}
.site-table{
  display: inline-block;
  /*display: inline;*/
}
/* FLEX CONTAINER*/
.container{
  background-color: white;
  margin: 10px;
  height: 200px;
  display: flex;
  /*flex-direction: column-reverse;
  /*flex-direction: row-reverse;*/
  flex-direction: row;
  /*flex-wrap: wrap;*/
  /*flex-wrap: wrap-reverse;*/
  justify-content: center;
  /*justify-content: flex-start;
  justify-content: flex-end;
  justify-content: space-between;
  justify-content: space-around;*/
  align-items: center;
  /*align-items: flex-start;*/
  /*align-items: stretch;
  align-items: baseline;*/

}
.container-item{
  background-color: green;
  width: 30px;
  margin: 20px;
  display: flex;
  justify-content: center;
  color:white;
}
.grid-container{
  background-color:white;
  margin: 10px;
  height: 500px;
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  /*justify-content: start;*/
  /*justify-content: end;*/
  /*justify-content: space-evenly;
  align-content: center;
  align-content: stretch;*/
  /*grid-row-gap: 150px;
  grid column-gap: 300px;*/
 grid-gap:150px 300px;
}
.grid-item{
  color:black;
  font-size: 20px;
  text-align: center;
  /*height: 50px;*/
  width: 50px;
  margin: 10px;
  align-items: center;
}

.submit-button{
  color: blue;
  padding:10px 20px;
  background-color: black;
  margin:10px 20px;
  font-size: 10px;
  border:none;
  text-decoration: none;
  /*transition:background 4s ease-in-out 2s ;*/
 /*transition:background 4s ease 2s;*/
 /*transition:background 4s linear 2s;*/
 /*transition:all;*/
 /*transform: scale(2.5);*/
 /*transform:rotate(-90deg);*/
 /*transform: skewX(45deg);*/
 -webkit-transform:translate(20% ,20%);
 /*-webkit-transition:background-color  ease-in-out 2s;
 -moz-transition:background-color  ease-in-out 2s;
 -o-transition:background-color ease-in-out 2s;*/
 /*transition:background padding 3s linear ;*/
 -webkit-transition:all 3s linear ;
 -moz-transition:all 3s linear ;
 -o-transition:all 3s linear ;
 /*-webkit-transform:matrix(1, 2, -1, 1, 80, 80);*/

}
.submit-button:hover{
  color:red;
  background: violet;
  /*padding:20px 50px;*/
  /*transform:rotate(-90deg);
  transform: skewX(45deg);*/
   /*transform:translate(40px 60px);*/
}
/*@keyframes translate-element{

example{}

}
@keyframes red-black{

from {background: red;}
to {background: black;}

}*/
@keyframes red-black{
  0%{background: red;transform: translate(0px,0px);}
    50%{background: yellow;transform: translate(10px,20px);}
      100%{background: black;transform: translate(20px,30px);}
}

#thetitle{
  /*animation-name: red-black;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-iteration-count: 3;
  animation-direction: normal;*/
  animation: red-black 4s ease 0s 3 reverse;
}
