body{
  background: rgba(84, 86, 176,0.5);

}

#title{
  color:rgb(0, 4, 255);
}
.subtitle{
  color:#5456b0;
}
/* bakgrd REPEAT */
/* BAKGRD SIZE*/
#service-image{
  height:400px;
  width:80%;
  background: url("https://images.immediate.co.uk/production/volatile/sites/4/2019/07/dino_dps_03-7b541f7.jpg?quality=90&resize=940%2C400");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 500px 100px;
  background-color: red;
}
